<!--<h2 mat-dialog-title class="dialog-title">
  {{ modo === 'agregar' ? 'Agregar Usuario' : 'Editar Usuario' }}
</h2>
-->
<app-TituloComponentePopup [titulo]="modo === 'agregar' ? 'Agregar Usuario' : 'Editar Usuario'" />
<form (ngSubmit)="guardar()">
  <mat-dialog-content class="formulario-form-dialog">
    <mat-form-field>
      <mat-label class="labelI">Usuario</mat-label>
      <input
        cdkFocusInitial
        matInput
        [formField]="usuarioForm.usuario"
        placeholder="Usuario"
        title="Usuario"
      />
      @if (usuarioForm.usuario().touched() && !usuarioForm.usuario().valid()) {
        @for (error of usuarioForm.usuario().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">RUT</mat-label>
      <input
        matInput
        [formField]="usuarioForm.rutUsuario"
        placeholder="RUT"
        title="RUT"
        (blur)="formatRutField()"
      />
      @if (usuarioForm.rutUsuario().touched() && !usuarioForm.rutUsuario().valid()) {
        @for (error of usuarioForm.rutUsuario().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Nombres</mat-label>
      <input matInput [formField]="usuarioForm.nombres" placeholder="Nombres" title="Nombres" />
      @if (usuarioForm.nombres().touched() && !usuarioForm.nombres().valid()) {
        @for (error of usuarioForm.nombres().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Apellido Paterno</mat-label>
      <input
        matInput
        [formField]="usuarioForm.apellidoPaterno"
        placeholder="Apellido Paterno"
        title="Apellido Paterno"
      />
      @if (usuarioForm.apellidoPaterno().touched() && !usuarioForm.apellidoPaterno().valid()) {
        @for (error of usuarioForm.apellidoPaterno().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Apellido Materno</mat-label>
      <input
        matInput
        [formField]="usuarioForm.apellidoMaterno"
        placeholder="Apellido Materno"
        title="Apellido Materno"
      />
      @if (usuarioForm.apellidoMaterno().touched() && !usuarioForm.apellidoMaterno().valid()) {
        @for (error of usuarioForm.apellidoMaterno().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Email</mat-label>
      <input
        matInput
        type="email"
        [formField]="usuarioForm.email"
        placeholder="Email"
        title="Email"
      />
      @if (usuarioForm.email().touched() && !usuarioForm.email().valid()) {
        @for (error of usuarioForm.email().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Teléfono</mat-label>
      <input matInput [formField]="usuarioForm.telefono" placeholder="Teléfono" title="Teléfono" />
      @if (usuarioForm.telefono().touched() && !usuarioForm.telefono().valid()) {
        @for (error of usuarioForm.telefono().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Dirección</mat-label>
      <input
        matInput
        [formField]="usuarioForm.direccion"
        placeholder="Dirección"
        title="Dirección"
      />
      @if (usuarioForm.direccion().touched() && !usuarioForm.direccion().valid()) {
        @for (error of usuarioForm.direccion().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Región</mat-label>
      <input matInput [formField]="usuarioForm.region" placeholder="Región" title="Región" />
      @if (usuarioForm.region().touched() && !usuarioForm.region().valid()) {
        @for (error of usuarioForm.region().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Comuna</mat-label>
      <input matInput [formField]="usuarioForm.comuna" placeholder="Comuna" title="Comuna" />
      @if (usuarioForm.comuna().touched() && !usuarioForm.comuna().valid()) {
        @for (error of usuarioForm.comuna().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Tipo Usuario</mat-label>
      <input
        matInput
        [formField]="usuarioForm.tipoUsuario"
        placeholder="Tipo Usuario"
        title="Tipo Usuario"
      />
      @if (usuarioForm.tipoUsuario().touched() && !usuarioForm.tipoUsuario().valid()) {
        @for (error of usuarioForm.tipoUsuario().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Tipo Veterinario</mat-label>
      <mat-select
        [formField]="usuarioForm.veterinaria!.tipoVeterinario"
        placeholder="Dr., Dra., Tec. Vet., etc."
        title="Tipo Veterinario"
      >
        <mat-option value="Dr.">Dr.</mat-option>
        <mat-option value="Dra.">Dra.</mat-option>
        <mat-option value="Tec. Vet.">Tec. Vet.</mat-option>
        <mat-option value="Asistente Vet.">Asistente Vet.</mat-option>
      </mat-select>
      @if (
        usuarioForm.veterinaria!.tipoVeterinario().touched() &&
        !usuarioForm.veterinaria!.tipoVeterinario().valid()
      ) {
        @for (error of usuarioForm.veterinaria!.tipoVeterinario().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Rol Veterinario</mat-label>
      <mat-select
        [formField]="usuarioForm.veterinaria!.rolVeterinario"
        placeholder="administrador, veterinario"
        title="Rol Veterinario"
      >
        <mat-option value="administrador">Administrador</mat-option>
        <mat-option value="veterinario">Veterinario</mat-option>
      </mat-select>
      @if (
        usuarioForm.veterinaria!.rolVeterinario().touched() &&
        !usuarioForm.veterinaria!.rolVeterinario().valid()
      ) {
        @for (error of usuarioForm.veterinaria!.rolVeterinario().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">% Comisión Veterinario</mat-label>
      <input
        matInput
        type="number"
        [formField]="usuarioForm.veterinaria!.porcentajeComisionVeterinario"
        step="0.01"
        placeholder="0"
        title="Porcentaje Comisión Veterinario"
      />
      @if (
        usuarioForm.veterinaria!.porcentajeComisionVeterinario().touched() &&
        !usuarioForm.veterinaria!.porcentajeComisionVeterinario().valid()
      ) {
        @for (
          error of usuarioForm.veterinaria!.porcentajeComisionVeterinario().errors();
          track error
        ) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label class="labelI">Estado</mat-label>
      <mat-select [formField]="usuarioForm.estadoUsuario" placeholder="Estado" title="Estado">
        <mat-option value="Activo">Activo</mat-option>
        <mat-option value="Bloqueado">Bloqueado</mat-option>
        <mat-option value="Suspendido">Suspendido</mat-option>
      </mat-select>
      @if (usuarioForm.estadoUsuario().touched() && !usuarioForm.estadoUsuario().valid()) {
        @for (error of usuarioForm.estadoUsuario().errors(); track error) {
          <mat-error>{{ error.message }}</mat-error>
        }
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="row g-3 w-100 m-0 px-4 pb-4">
    <div class="col-12 col-md-6">
      <button mat-stroked-button type="button" (click)="cancelar()">Cancelar</button>
    </div>
    <div class="col-12 col-md-6">
      <button mat-raised-button color="primary" type="submit" [disabled]="isFormInvalid()">
        Guardar
      </button>
    </div>
  </mat-dialog-actions>
</form>
