
mat-dialog-actions {
  align-items: stretch;
}

mat-dialog-actions > div {
  display: flex;
}

mat-dialog-actions button {
  width: 100%;
}


button {
  width: 100%;
}


.mat-mdc-form-field-error {
  font-size: 10px;
}
